I will be looking at some graduation outcome data for the State of New York. The goal of this project is to clean and analyze data, and hopefully generate some visualizations

In [200]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [201]:
graduation_outcomes = pd.read_csv("/Users/scottmaccarone/Desktop/Coding/My_Fun_Projects/Schools/2005_10_Grad_Outcomes_Sch_Lvl.csv")

I want to determine some basic information about this data set such as: size and shape, which columns have null values, are there any interesting demographics to look at, do columns need to be cleaned, etc.

In [202]:
graduation_outcomes.shape

(25096, 23)

In [203]:
pd.options.display.max_columns = 25

In [204]:
pd.options.display.max_colwidth = 100

In [205]:
graduation_outcomes.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,Advanced Regents - n,Advanced Regents - % of cohort,Advanced Regents - % of grads,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,NaN,s,NaN,NaN,s,NaN,NaN,s,NaN,NaN,s,NaN,NaN,s,NaN,s,NaN
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3,17,30.9,45.9,0,0.0,0.0,17,30.9,45.9,20,36.4,54.1,15,27.3,3,5.5
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2,27,42.2,62.8,0,0.0,0.0,27,42.2,62.8,16,25.0,37.2,9,14.1,9,14.1
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1,36,46.2,83.7,0,0.0,0.0,36,46.2,83.7,7,9.0,16.3,16,20.5,11,14.1
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4,37,47.4,84.1,0,0.0,0.0,37,47.4,84.1,7,9.0,15.9,15,19.2,11,14.1

In [206]:
graduation_outcomes['School Name'].unique()

array(['HENRY STREET SCHOOL FOR INTERNATIONAL',
       'UNIVERSITY NEIGHBORHOOD HIGH SCHOOL',
       'EAST SIDE COMMUNITY SCHOOL', 'MARTA VALLE HIGH SCHOOL',
       'LOWER EAST SIDE PREPARATORY HIGH SCHO',
       'NEW EXPLORATIONS INTO SCIENCE  TECHNO', 'CASCADES HIGH SCHOOL',
       'BARD HIGH SCHOOL EARLY COLLEGE',
       '47 THE AMERICAN SIGN LANGUAGE AND ENG',
       'FOOD AND FINANCE HIGH SCHOOL', 'ESSEX STREET ACADEMY',
       'HIGH SCHOOL OF HOSPITALITY MANAGEMENT', 'PACE HIGH SCHOOL',
       'URBAN ASSEMBLY SCHOOL OF DESIGN AND C',
       'FACING HISTORY SCHOOL  THE',
       'URBAN ASSEMBLY ACADEMY OF GOVERNMENT',
       'LOWER MANHATTAN ARTS ACADEMY',
       'JAMES BALDWIN SCHOOL  THE: A SCHOOL F',
       'URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WOMEN',
       'BENJAMIN BANNEKER ACADEMY', 'GRAMERCY ARTS HIGH SCHOOL',
       'EMMA LAZARUS HIGH SCHOOL',
       'HIGH SCHOOL FOR ENVIRONMENTAL STUDIES',
       'INSTITUTE FOR COLLABORATIVE EDUCATION',
       'PROFESSIONAL PERFORMING ARTS HIGH SCH',
       'COALITION SCHOOL FOR SOCIAL CHANGE',
       'BARUCH COLLEGE CAMPUS HIGH SCHOOL',
       'N.Y.C. LAB SCHOOL FOR COLLABORATIVE S',
       'SCHOOL OF THE FUTURE HIGH SCHOOL', 'LANDMARK HIGH SCHOOL',
       'N.Y.C. MUSEUM SCHOOL', 'ELEANOR ROOSEVELT HIGH SCHOOL',
       'MILLENNIUM HIGH SCHOOL', 'HIGH SCHOOL FOR HEALTH PROFESSIONS AN',
       'LEADERSHIP AND PUBLIC SERVICE HIGH SC',
       'LEGACY SCHOOL FOR INTEGRATED STUDIES',
       'MANHATTAN VILLAGE ACADEMY', 'CROTONA ACADEMY HIGH SCHOOL',
       'BAYARD RUSTIN EDUCATIONAL COMPLEX',
       'BALLET TECH  NYC PUBLIC SCHOOL FOR DA', 'SEWARD PARK HIGH SCHOOL',
       'VANGUARD HIGH SCHOOL', 'MANHATTAN INTERNATIONAL HIGH SCHOOL',
       'WASHINGTON IRVING HIGH SCHOOL', 'STUYVESANT HIGH SCHOOL',
       'HIGH SCHOOL OF ECONOMICS AND FINANCE',
       'UNITY CENTER FOR URBAN TECHNOLOGIES',
       'TALENT UNLIMITED HIGH SCHOOL',
       'MURRY BERGTRAUM HIGH SCHOOL FOR BUSIN',
       'JACQUELINE KENNEDY ONASSIS HIGH SCHOO',
       'INDEPENDENCE HIGH SCHOOL',
       'REPERTORY COMPANY HIGH SCHOOL FOR THE', 'PARK WEST HIGH SCHOOL',
       'MANHATTAN BRIDGES HIGH SCHOOL', 'NEW DESIGN HIGH SCHOOL',
       'HIGH SCHOOL FOR DUAL LANGUAGE AND ASI',
       'LIBERTY HIGH SCHOOL ACADEMY FOR NEWCO', 'THE HARBOR HS',
       'HIGH SCHOOL M560 - CITY AS SCHOOL',
       'URBAN ACADEMY LABORATORY HIGH SCHOOL',
       'SATELLITE ACADEMY HIGH SCHOOL',
       'MANHATTAN COMPREHENSIVE NIGHT AND DAY',
       'RICHARD R. GREEN HIGH SCHOOL OF TEACH', 'HARVEY MILK HIGH SCHOOL',
       'THE HIGH SCHOOL OF FASHION INDUSTRIES',
       'PABLO NERUDA ACADEMY FOR ARCHITECTURE',
       'HUMANITIES PREPARATORY ACADEMY',
       'CHELSEA CAREER AND TECHNICAL EDUCATIO',
       'NORMAN THOMAS HIGH SCHOOL',
       'HIGH SCHOOL OF GRAPHIC COMMUNICATION',
       'ART AND DESIGN HIGH SCHOOL', 'LIFE SCIENCES SECONDARY SCHOOL',
       'SCHOOL FOR THE PHYSICAL CITY',
       'MANHATTAN THEATRE LAB HIGH SCHOOL',
       'HIGH SCHOOL FOR ARTS  IMAGINATION AND',
       'URBAN ASSEMBLY SCHOOL FOR MEDIA STUDI', 'INNOVATION DIPLOMA PLUS',
       'WADLEIGH SECONDARY SCHOOL FOR THE PER',
       'BOYS AND GIRLS HIGH SCHOOL', 'LOUIS D. BRANDEIS HIGH SCHOOL',
       'BEACON HIGH SCHOOL', 'FIORELLO H. LAGUARDIA HIGH SCHOOL OF',
       'MARTIN LUTHER KING JR. ACADEMY',
       'HIGH SCHOOL FOR LAW  ADVOCACY AND COM',
       'HIGH SCHOOL OF ARTS AND TECHNOLOGY',
       'EDWARD A. REYNOLDS WEST SIDE HIGH SCH',
       'MANHATTAN / HUNTER SCIENCE HIGH SCHOO',
       'FREDERICK DOUGLASS ACADEMY II SECONDA',
       'MANHATTAN CENTER FOR SCIENCE AND MATH', 'PARK EAST HIGH SCHOOL',
       'VALIDUS PREPARATORY ACADEMY: AN EXPED',
       'CENTRAL PARK EAST HIGH SCHOOL', "YOUNG WOMEN'S LEADERSHIP SCHOOL",
       'ACADEMY OF ENVIRONMENTAL SCIENCE SECO', 'HERITAGE SCHOOL  THE',
       'URBAN PEACE ACADEMY', 'HARLEM RENAISSANCE HIGH SCHOOL',
       'MOTT HALL HIGH SCHOOL', 'URBAN ASSEMBLY SCHOOL FOR THE PERFORM',
       'CHOIR ACADEMY OF HARLEM', 'FREDERICK DOUGLASS ACADEMY',
       'THURGOOD MARSHALL ACADEMY FOR LEARNIN',
       'BRONX SCHOOL OF LAW AND FINANCE',
       'BREAD  &  ROSES INTEGRATED ARTS HIGH',
       'HIGH SCHOOL FOR MATHEMATICS  SCIENCE',
       'HIGH SCHOOL FOR INTERNATIONAL BUSINES',
       'HIGH SCHOOL FOR MEDIA AND COMMUNICATI',
       'HIGH SCHOOL FOR LAW AND PUBLIC SERVIC',
       'HIGH SCHOOL FOR HEALTH CAREERS AND SC',
       'A. PHILIP RANDOLPH CAMPUS HIGH SCHOOL',
       'GREGORIO LUPERON HIGH SCHOOL FOR SCIE',
       'SOUTH BRONX PREPARATORY: A COLLEGE BO',
       'INTERNATIONAL COMMUNITY HIGH SCHOOL',
       'JILL CHAIFETZ TRANSFER HIGH SCHOOL',
       'BRONX HAVEN HIGH SCHOOL\xa0 \xa0',
       'FOREIGN LANGUAGE ACADEMY OF GLOBAL ST',
       'COMMUNITY SCHOOL FOR SOCIAL JUSTICE', 'SOUTH BRONX HIGH SCHOOL',
       'MOTT HAVEN VILLAGE PREPARATORY HIGH S',
       'HOSTOS-LINCOLN ACADEMY OF SCIENCE',
       'BRONX LEADERSHIP ACADEMY II HS', 'NEW EXPLORERS HIGH SCHOOL',
       'URBAN ASSEMBLY SCHOOL FOR CAREERS IN', 'BRONX ACADEMY OF LETTERS',
       'ALFRED E. SMITH CAREER AND TECHNICAL',
       'ARTS & MEDIA PREPARATORY ACADEMY',
       'SAMUEL GOMPERS CAREER AND TECHNICAL E',
       'HEALTH OPPORTUNITIES HIGH SCHOOL',
       "WOMEN'S ACADEMY OF EXCELLENCE",
       'RENAISSANCE HIGH SCHOOL FOR MUSICAL T',
       'GATEWAY SCHOOL FOR ENVIRONMENTAL RESE', 'MILLENNIUM ART ACADEMY',
       'HOLCOMBE L. RUCKER SCHOOL OF COMMUNIT',
       'BRONX COMMUNITY HIGH SCHOOL', 'HERBERT H. LEHMAN HIGH SCHOOL',
       'ADLAI E. STEVENSON HIGH SCHOOL', 'BRONX GUILD',
       'FELISA RINCON DE GAUTIER INSTITUTE FO',
       'BANANA KELLY HIGH SCHOOL',
       'SCHOOL FOR COMMUNITY RESEARCH AND LEA',
       'HIGH SCHOOL X560 - BRONX ACADEMY HIGH',
       'JANE ADDAMS HIGH SCHOOL FOR ACADEMIC',
       'NEW SCHOOL FOR ARTS AND SCIENCES',
       'BRONX EXPEDITIONARY LEARNING HIGH SCH',
       'EAGLE ACADEMY FOR YOUNG MEN',
       'URBAN ASSEMBLY ACADEMY FOR HISTORY AN',
       'EXIMIUS COLLEGE PREPARATORY ACADEMY:',
       'MOTT HALL BRONX HIGH SCHOOL',
       'BRONX CENTER FOR SCIENCE AND MATHEMAT', 'WINGS ACADEMY',
       'LEADERSHIP INSTITUTE', 'MORRIS ACADEMY FOR COLLABORATIVE STUD',
       'DREAMYARD PREPARATORY SCHOOL', 'BRONX INTERNATIONAL HIGH SCHOOL',
       'SCHOOL FOR EXCELLENCE', 'BRONX HIGH SCHOOL OF BUSINESS',
       'BRONX HIGH SCHOOL FOR MEDICAL SCIENCE',
       'JONATHAN LEVIN HIGH SCHOOL FOR MEDIA',
       'BRONX SCHOOL FOR LAW  GOVERNMENT AND',
       'FREDERICK DOUGLASS ACADEMY III SECOND',
       'BRONX LEADERSHIP ACADEMY HIGH SCHOOL',
       'CULTURAL ACADEMY FOR THE ARTS AND SCI',
       'HIGH SCHOOL FOR VIOLIN AND DANCE',
       'RIVERDALE / KINGSBRIDGE ACADEMY (MIDD',
       'BRONX ENGINEERING AND TECHNOLOGY ACAD',
       'THEATRE ARTS PRODUCTION COMPANY SCHOO',
       'THE MARIE CURIE SCHOOL FOR MEDICINE',
       'WEST BRONX ACADEMY FOR THE FUTURE',
       'KINGSBRIDGE INTERNATIONAL HIGH SCHOOL',
       'PROVIDING URBAN LEARNERS SUCCESS IN E',
       'INTERNATIONAL SCHOOL FOR LIBERAL ARTS',
       'IN-TECH ACADEMY (M.S. / HIGH SCHOOL 3',
       'KNOWLEDGE AND POWER PREPARATORY ACADE',
       'ENGLISH LANGUAGE LEARNERS AND INTERNA',
       'WILLIAM H. TAFT HIGH SCHOOL', 'WALTON HIGH SCHOOL',
       'HIGH SCHOOL FOR TEACHING AND THE PROF',
       'BELMONT PREPARATORY HIGH SCHOOL',
       'THEODORE ROOSEVELT HIGH SCHOOL',
       'FORDHAM HIGH SCHOOL FOR THE ARTS',
       'FORDHAM LEADERSHIP ACADEMY FOR BUSINE',
       'BRONX HIGH SCHOOL FOR LAW AND COMMUNI',
       'GRACE DODGE CAREER AND TECHNICAL EDUC',
       'DEWITT CLINTON HIGH SCHOOL',
       'CELIA CRUZ BRONX HIGH SCHOOL OF MUSIC',
       'BRONX HIGH SCHOOL OF SCIENCE', 'JOHN F. KENNEDY HIGH SCHOOL',
       'MARBLE HILL HIGH SCHOOL FOR INTERNATI', 'UNIVERSITY HEIGHTS',
       'BRONX THEATRE HIGH SCHOOL', 'DISCOVERY HIGH SCHOOL',
       'HIGH SCHOOL OF AMERICAN STUDIES AT LE',
       'BRONX HEALTH SCIENCES HIGH SCHOOL',
       'BRONX HIGH SCHOOL FOR WRITING AND COM', 'BRONX LAB SCHOOL',
       'ACADEMY FOR SCHOLARSHIP AND ENTRENEURSHIP',
       'HIGH SCHOOL OF COMPUTERS AND TECHNOLO',
       'COLLEGIATE INSTITUTE FOR MATH AND SCI',
       'BRONX ACADEMY OF HEALTH CAREERS', 'ASTOR COLLEGIATE ACADEMY',
       'CHRISTOPHER COLUMBUS HIGH SCHOOL',
       'BRONX HIGH SCHOOL FOR THE VISUAL ARTS',
       'EVANDER CHILDS HIGH SCHOOL', 'HARRY S TRUMAN HIGH SCHOOL',
       'NEW WORLD HIGH SCHOOL', 'THE BRONXWOOD PREPARATORY ACADEMY',
       'OLYMPUS ACADEMY', 'GLOBAL ENTERPRISE HIGH SCHOOL',
       'PELHAM PREPARATORY ACADEMY', 'HIGH SCHOOL FOR CONTEMPORARY ARTS',
       'BRONX AEROSPACE HIGH SCHOOL', 'NEW DAY ACADEMY',
       'METROPOLITAN HIGH SCHOOL  THE', 'EXPLORATIONS ACADEMY',
       'PERFORMANCE CONSERVATORY HIGH SCHOOL', 'BRONX LATIN',
       'EAST BRONX ACADEMY FOR THE FUTURE', 'PEACE AND DIVERSITY ACADEMY',
       'BRONX REGIONAL HIGH SCHOOL', 'HIGH SCHOOL OF WORLD CULTURES',
       'PERFORMING ARTS AND TECHNOLOGY HIGH S',
       'BRONX COALITION COMMUNITY HIGH SCHOOL',
       'FANNIE LOU HAMER FREEDOM HIGH SCHOOL',
       'MONROE ACADEMY FOR BUSINESS/LAW',
       'MONROE ACADEMY FOR VISUAL ARTS & DESI',
       'DR. SUSAN S. MCKINNEY SECONDARY SCHOO',
       'URBAN ASSEMBLY HIGH SCHOOL OF MUSIC A',
       'BROOKLYN COMMUNITY HIGH SCHOOL OF COM',
       'SCIENCE SKILLS CENTER HIGH SCHOOL FOR',
       'BROOKLYN TECHNICAL HIGH SCHOOL',
       'BROOKLYN INTERNATIONAL HIGH SCHOOL',
       'THE URBAN ASSEMBLY SCHOOL FOR LAW AND',
       'ACORN COMMUNITY HIGH SCHOOL', 'FREEDOM ACADEMY HIGH SCHOOL',
       'BROOKLYN ACADEMY HIGH SCHOOL',
       'BEDFORD STUYVESANT PREPARATORY HIGH S',
       'BEDFORD ACADEMY HIGH SCHOOL',
       'GEORGE WESTINGHOUSE CAREER AND TECHNI',
       'BROOKLYN HIGH SCHOOL FOR LEADERSHIP A',
       'JUAN MOREL CAMPOS SECONDARY SCHOOL', 'SCHOOL FOR LEGAL STUDIES',
       'FOUNDATIONS ACADEMY', 'ACADEMY FOR YOUNG WRITERS',
       'BROOKLYN LATIN SCHOOL  THE',
       'GREEN SCHOOL: AN ACADEMY FOR ENVIRONM',
       'PROGRESS HIGH SCHOOL FOR PROFESSIONAL',
       'THE HIGH SCHOOL FOR ENTERPRISE  BUSIN',
       'BROOKLYN PREPARATORY HIGH SCHOOL',
       'WILLIAMSBURG HIGH SCHOOL FOR ARCHITEC',
       'WILLIAMSBURG PREPARATORY SCHOOL', 'LYONS COMMUNITY SCHOOL',
       'AUTOMOTIVE HIGH SCHOOL', 'HARRY VAN ARSDALE HIGH SCHOOL',
       'EL PUENTE ACADEMY FOR PEACE AND JUSTI',
       'AGNES Y. HUMPHREY SCHOOL FOR LEADERSH',
       'BROOKLYN SCHOOL FOR GLOBAL STUDIES',
       'BROOKLYN SECONDARY SCHOOL FOR COLLABO', 'JOHN JAY HIGH SCHOOL',
       'SECONDARY SCHOOL FOR LAW', 'SECONDARY SCHOOL FOR JOURNALISM',
       'PARK SLOPE COLLEGIATE', 'SCHOOL FOR INTERNATIONAL STUDIES',
       'ACORN HS FOR SOCIAL JUSTICE',
       'COBBLE HILL SCHOOL OF AMERICAN STUDIE', 'PACIFIC HIGH SCHOOL',
       'WEST BROOKLYN COMMUNITY HIGH SCHOOL',
       'METROPOLITAN CORPORATE ACADEMY HIGH S',
       'BROOKLYN HIGH SCHOOL OF THE ARTS',
       'SOUTH BROOKLYN COMMUNITY HIGH SCHOOL', 'LIBERATION DIPLOMA PLUS',
       'FREDERICK DOUGLASS ACADEMY IV SECONDA',
       'GOTHAM PROFESSIONAL ARTS ACADEMY',
       'ACADEMY FOR COLLEGE PREPARATION AND C',
       'ACADEMY OF  HOSPITALITY AND TOURISM',
       'PROSPECT HEIGHTS HIGH SCHOOL',
       'INTERNATIONAL ARTS BUSINESS SCHOOL',
       'ERASMUS HALL CAMPUS: HS FOR SCIENCE & MATH',
       'ERASMUS HALL CAMPUS: HS FOR HUMANITIES',
       'GEORGE WINGATE HIGH SCHOOL',
       'ERASMUS HALL CAMPUS: HS FOR BUSINESS & TECHN',
       'W.E.B. DUBOIS ACADEMIC HIGH SCHOOL',
       'INTERNATIONAL HIGH SCHOOL AT PROSPECT',
       'THE HIGH SCHOOL FOR GLOBAL CITIZENSHI',
       'SCHOOL FOR HUMAN RIGHTS  THE',
       'SCHOOL FOR DEMOCRACY AND  LEADERSHIP',
       'EXPEDITIONARY LEARNING SCHOOL FOR COM',
       'HIGH SCHOOL FOR PUBLIC SERVICE: HEROE',
       'HIGH SCHOOL FOR YOUTH AND COMMUNITY D',
       'HIGH SCHOOL FOR SERVICE & LEARNING AT',
       'SCIENCE  TECHNOLOGY AND RESEARCH EARL',
       'BROOKLYN ACADEMY OF SCIENCE AND THE',
       'BROOKLYN SCHOOL FOR MUSIC & THEATRE',
       'BROWNSVILLE ACADEMY HIGH SCHOOL',
       'MEDGAR EVERS COLLEGE PREPARATORY SCHO',
       'BARD HIGH SCHOOL EARLY COLLEGE II', 'CLARA BARTON HIGH SCHOOL',
       'PAUL ROBESON HIGH SCHOOL', 'SAMUEL J. TILDEN HIGH SCHOOL',
       'CANARSIE HIGH SCHOOL', 'SOUTH SHORE HIGH SCHOOL',
       'IT TAKES A VILLAGE ACADEMY', 'BROOKLYN GENERATION SCHOOL',
       'BROOKLYN THEATRE ARTS HIGH SCHOOL',
       'KURT HAHN EXPEDITIONARY LEARNING SCHO',
       'VICTORY COLLEGIATE HIGH SCHOOL', 'BROOKLYN BRIDGE ACADEMY',
       'EAST BROOKLYN COMMUNITY HIGH SCHOOL',
       'EAST NEW YORK FAMILY ACADEMY', 'HIGH SCHOOL FOR CIVIL RIGHTS',
       'FRANKLIN K. LANE HIGH SCHOOL', 'THOMAS JEFFERSON HIGH SCHOOL',
       'FDNY HIGH SCHOOL FOR FIRE AND LIFE SA',
       'WORLD ACADEMY FOR TOTAL COMMUNITY HEA',
       'MULTICULTURAL HIGH SCHOOL',
       'TRANSIT TECH CAREER AND TECHNICAL EDU',
       'ACADEMY OF INNOVATIVE TECHNOLOGY', 'BROOKLYN LAB SCHOOL',
       'CYPRESS HILLS COLLEGIATE PREPARATORY',
       'W. H. MAXWELL CAREER AND TECHNICAL ED', 'NEW UTRECHT HIGH SCHOOL',
       'HIGH SCHOOL OF  TELECOMMUNICATION ART',
       'FORT HAMILTON HIGH SCHOOL',
       'FRANKLIN DELANO ROOSEVELT HIGH SCHOOL',
       'INTERNATIONAL HIGH SCHOOL AT LAFAYETTE',
       'RACHEL CARSON HIGH SCHOOL FOR COASTAL',
       'HIGH SCHOOL OF SPORTS MANAGEMENT', 'LAFAYETTE HIGH SCHOOL',
       'ABRAHAM LINCOLN HIGH SCHOOL', 'EDWARD R. MURROW HIGH SCHOOL',
       'JOHN DEWEY HIGH SCHOOL', 'MIDWOOD HIGH SCHOOL',
       'LIFE ACADEMY HIGH SCHOOL FOR FILM AND',
       'WILLIAM E. GRADY CAREER AND TECHNICAL',
       'BROOKLYN STUDIO SECONDARY SCHOOL', 'JAMES MADISON HIGH SCHOOL',
       'SHEEPSHEAD BAY HIGH SCHOOL',
       'LEON M. GOLDSTEIN HIGH SCHOOL FOR THE',
       'BROOKLYN COLLEGE ACADEMY', 'BROOKLYN COLLEGIATE: A COLLEGE BOARD',
       'FREDERICK DOUGLASS ACADEMY VII HIGH S',
       'BROOKLYN DEMOCRACY ACADEMY',
       'EBC/ENY HIGH SCHOOL FOR PUBLIC SAFETY',
       'ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL',
       'METROPOLITAN DIPLOMA PLUS HIGH SCHOOL',
       'TEACHERS PREPARATORY HIGH SCHOOL',
       'ACADEMY OF FINANCE AND  ENTERPRISE',
       'HIGH SCHOOL OF APPLIED COMMUNICATION',
       'PAN AMERICAN INTERNATIONAL HIGH SCHOO', 'NEWTOWN HIGH SCHOOL',
       'GROVER CLEVELAND HIGH SCHOOL',
       'MIDDLE COLLEGE HIGH SCHOOL AT LAGUARD',
       'INTERNATIONAL HIGH SCHOOL AT LAGUARDI',
       'HIGH SCHOOL FOR ARTS AND BUSINESS',
       'ROBERT F. WAGNER  JR. SECONDARY SCHOO', 'CONCORD HIGH SCHOOL',
       'QUEENS VOCATIONAL AND TECHNICAL HIGH',
       'AVIATION CAREER & TECHNICAL EDUCATION', 'VOYAGES PREPARATORY',
       'FLUSHING INTERNATIONAL HIGH SCHOOL',
       'EAST-WEST SCHOOL OF INTERNATIONAL STU',
       'WORLD JOURNALISM PREPARATORY: A COLLE', 'JOHN BOWNE HIGH SCHOOL',
       'FLUSHING HIGH SCHOOL', 'TOWNSEND HARRIS HIGH SCHOOL',
       'QUEENS ACADEMY HIGH SCHOOL',
       'ROBERT F. KENNEDY COMMUNITY HIGH SCHO',
       'NORTH QUEENS COMMUNITY HIGH SCHOOL',
       'BENJAMIN N. CARDOZO HIGH SCHOOL',
       'INFORMATION TECHNOLOGY HIGH SCHOOL', 'FRANCIS LEWIS HIGH SCHOOL',
       'MARTIN VAN BUREN HIGH SCHOOL', 'BAYSIDE HIGH SCHOOL',
       'QUEENS HIGH SCHOOL OF TEACHING  LIBER',
       'FREDERICK DOUGLASS ACADEMY VI HIGH SC',
       'CHANNEL VIEW SCHOOL FOR RESEARCH',
       'QUEENS HIGH SCHOOL FOR INFORMATION  R',
       'AUGUST MARTIN HIGH SCHOOL', 'BEACH CHANNEL HIGH SCHOOL',
       'FAR ROCKAWAY HIGH SCHOOL', 'RICHMOND HILL HIGH SCHOOL',
       'JOHN ADAMS HIGH SCHOOL', 'HIGH SCHOOL FOR CONSTRUCTION TRADES',
       'FOREST HILLS HIGH SCHOOL', 'JAMAICA HIGH SCHOOL',
       'HILLCREST HIGH SCHOOL', 'THOMAS A. EDISON CAREER AND TECHNICAL',
       'QUEENS GATEWAY TO HEALTH SCIENCES SEC',
       'QUEENS HIGH SCHOOL FOR THE SCIENCES A',
       'HIGH SCHOOL FOR LAW ENFORCEMENT AND P',
       'QUEENS PREPARATORY ACADEMY',
       'PATHWAYS COLLEGE PREPARATORY SCHOOL:',
       'EXCELSIOR PREPARATORY HIGH SCHOOL',
       'GEORGE WASHINGTON CARVER HIGH SCHOOL',
       'PREPARATORY ACADEMY FOR WRITERS: A CO',
       'SPRINGFIELD GARDENS HIGH SCHOOL',
       'MATHEMATICS  SCIENCE RESEARCH AND TEC',
       'LAW  GOVERNMENT AND COMMUNITY SERVICE',
       'BUSINESS  COMPUTER APPLICATIONS & ENT',
       'HUMANITIES & ARTS MAGNET HIGH SCHOOL',
       'WILLIAM CULLEN BRYANT HIGH SCHOOL',
       'LONG ISLAND CITY HIGH SCHOOL',
       'FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL',
       'NEWCOMERS HIGH SCHOOL', 'ACADEMY OF AMERICAN STUDIES',
       'BACCALAUREATE SCHOOL FOR GLOBAL EDUCA',
       'CSI HIGH SCHOOL FOR INTERNATIONAL STU',
       'THE MICHAEL J. PETRIDES SCHOOL', 'NEW DORP HIGH SCHOOL',
       'PORT RICHMOND HIGH SCHOOL', 'CURTIS HIGH SCHOOL',
       'TOTTENVILLE HIGH SCHOOL', 'SUSAN E. WAGNER HIGH SCHOOL',
       'RALPH R. MCKEE CAREER AND TECHNICAL E',
       'STATEN ISLAND TECHNICAL HIGH SCHOOL',
       'ACADEMY FOR ENVIRONMENTAL LEADERSHIP', 'BUSHWICK HIGH SCHOOL',
       'EBC HIGH SCHOOL FOR PUBLIC SERVICE\x16BU',
       'BUSHWICK SCHOOL FOR SOCIAL JUSTICE', 'ACADEMY OF URBAN PLANNING',
       'ALL CITY LEADERSHIP SECONDARY SCHOOL',
       'BUSHWICK LEADERS HIGH SCHOOL FOR ACAD',
       'BUSHWICK COMMUNITY HIGH SCHOOL'], dtype=object)

In [207]:
graduation_outcomes.isnull().sum()

Demographic                              0
DBN                                      0
School Name                              0
Cohort                                   0
Total Cohort                             0
Total Grads - n                          0
Total Grads - % of cohort             8392
Total Regents - n                        0
Total Regents - % of cohort           8392
Total Regents - % of grads            8444
Advanced Regents - n                     0
Advanced Regents - % of cohort        8392
Advanced Regents - % of grads         8444
Regents w/o Advanced - n                 0
Regents w/o Advanced - % of cohort    8392
Regents w/o Advanced - % of grads     8444
Local - n                                0
Local - % of cohort                   8392
Local - % of grads                    8444
Still Enrolled - n                       0
Still Enrolled - % of cohort          8392
Dropped Out - n                          0
Dropped Out - % of cohort             8392
dtype: int64

In [208]:
graduation_outcomes['Demographic'].unique()

array(['Total Cohort', 'Asian', 'Male', 'Black',
       'English Language Learners', 'Hispanic', 'White',
       'English Proficient Students', 'Special Education Students',
       'General Education Students', 'Female'], dtype=object)

I will focus on 5 demographic groups: "Total Cohort", "Asian", "Black", "Hispanic", "White". Later I will look into "Male" and "Female" comparisons:

In [209]:
demo_int = ['Total Cohort', 'Asian', 'Black', 'Hispanic', 'White',]

In [210]:
interesting_demos = graduation_outcomes.loc[graduation_outcomes['Demographic'].isin(demo_int)]

In [211]:
interesting_demos['Demographic'].value_counts()

Total Cohort    2493
Black           2403
Hispanic        2385
Asian           1780
White           1777
Name: Demographic, dtype: int64

In [212]:
interesting_demos['Total Grads - n'].value_counts().head()

s     4168
21     113
19     112
25     110
28     103
Name: Total Grads - n, dtype: int64

I will remove rows with `s` as a value for the `Total Grads - n` column:

In [213]:
interesting_demos = interesting_demos[interesting_demos['Total Grads - n'] != 's']
interesting_demos['Total Grads - n'].value_counts().head()

21    113
19    112
25    110
28    103
23    100
Name: Total Grads - n, dtype: int64

In [214]:
interesting_demos.shape

(6670, 23)

In [215]:
interesting_demos['Total Grads - % of cohort'].value_counts().sort_index()

0.0       22
0.8        1
1.2        2
2.1        1
2.2        1
2.5        1
2.6        3
2.9        2
3.1        2
3.2        1
3.3        2
3.4        1
3.6        2
3.7        3
3.8        1
3.9        3
4.0        3
4.2        2
4.3        4
4.5        3
4.8        4
5.0        2
5.1        2
5.2        1
5.3        1
5.4        2
5.5        1
5.6        2
5.7        2
5.9        2
        ...
96.9       7
97.0      10
97.1      10
97.2       6
97.3       5
97.4      12
97.5       3
97.6       4
97.7       2
97.8      10
97.9       7
98.0       4
98.1       5
98.2       4
98.3      10
98.4       6
98.5       3
98.6       9
98.7       8
98.8       5
98.9       4
99.0       2
99.1       8
99.2       2
99.3       7
99.4       1
99.5       2
99.6       1
99.7       1
100.0    132
Name: Total Grads - % of cohort, Length: 949, dtype: int64

In [216]:
interesting_demos.isnull().sum()

Demographic                            0
DBN                                    0
School Name                            0
Cohort                                 0
Total Cohort                           0
Total Grads - n                        0
Total Grads - % of cohort              0
Total Regents - n                      0
Total Regents - % of cohort            0
Total Regents - % of grads            22
Advanced Regents - n                   0
Advanced Regents - % of cohort         0
Advanced Regents - % of grads         22
Regents w/o Advanced - n               0
Regents w/o Advanced - % of cohort     0
Regents w/o Advanced - % of grads     22
Local - n                              0
Local - % of cohort                    0
Local - % of grads                    22
Still Enrolled - n                     0
Still Enrolled - % of cohort           0
Dropped Out - n                        0
Dropped Out - % of cohort              0
dtype: int64

I want to know where these 22 null values are coming from:

In [217]:
null_regents = interesting_demos[interesting_demos['Total Regents - % of grads'].isnull()]
print(null_regents)

        Demographic     DBN                            School Name Cohort  \
343    Total Cohort  02M550  LIBERTY HIGH SCHOOL ACADEMY FOR NEWCO   2001
735    Total Cohort  07X527         BRONX LEADERSHIP ACADEMY II HS   2002
1030   Total Cohort  10X319  PROVIDING URBAN LEARNERS SUCCESS IN E   2002
1439   Total Cohort  13K616  BROOKLYN HIGH SCHOOL FOR LEADERSHIP A   2005
1593   Total Cohort  15K529    WEST BROOKLYN COMMUNITY HIGH SCHOOL   2002
1690   Total Cohort  17K533   SCHOOL FOR DEMOCRACY AND  LEADERSHIP   2006
1736   Total Cohort  17K568        BROWNSVILLE ACADEMY HIGH SCHOOL   2001
12262         Asian  02M550  LIBERTY HIGH SCHOOL ACADEMY FOR NEWCO   2001
12460         Asian  05M692   HIGH SCHOOL FOR MATHEMATICS  SCIENCE   2002
13871         Black  02M408  PROFESSIONAL PERFORMING ARTS HIGH SCH   2004
14107         Black  05M692   HIGH SCHOOL FOR MATHEMATICS  SCIENCE   2002
14302         Black  05M285         HARLEM RENAISSANCE HIGH SCHOOL   2002
14304         Black  05M285         HARLEM RENAISSANCE HIGH SCHOOL   2004
14391         Black  07X321            CROTONA ACADEMY HIGH SCHOOL   2002
14434         Black  07X527         BRONX LEADERSHIP ACADEMY II HS   2002
14515         Black  08X377            BRONX COMMUNITY HIGH SCHOOL   2005
14716         Black  10X319  PROVIDING URBAN LEARNERS SUCCESS IN E   2002
15100         Black  13K616  BROOKLYN HIGH SCHOOL FOR LEADERSHIP A   2005
15343         Black  17K533   SCHOOL FOR DEMOCRACY AND  LEADERSHIP   2006
15389         Black  17K568        BROWNSVILLE ACADEMY HIGH SCHOOL   2001
16134         Black  32K564         BUSHWICK COMMUNITY HIGH SCHOOL   2002
16472      Hispanic  02M550  LIBERTY HIGH SCHOOL ACADEMY FOR NEWCO   2001

       Total Cohort Total Grads - n  Total Grads - % of cohort  \
343              66               0                        0.0
735              52               0                        0.0
1030             43               0                        0.0
1439             50               0                        0.0
1593             21               0                        0.0
1690             74               0                        0.0
1736             64               0                        0.0
12262            27               0                        0.0
12460            29               0                        0.0
13871            24               0                        0.0
14107            26               0                        0.0
14302            27               0                        0.0
14304            46               0                        0.0
14391            21               0                        0.0
14434            31               0                        0.0
14515            32               0                        0.0
14716            23               0                        0.0
15100            38               0                        0.0
15343            62               0                        0.0
15389            53               0                        0.0
16134            65               0                        0.0
16472            29               0                        0.0

      Total Regents - n  Total Regents - % of cohort  \
343                   0                          0.0
735                   0                          0.0
1030                  0                          0.0
1439                  0                          0.0
1593                  0                          0.0
1690                  0                          0.0
1736                  0                          0.0
12262                 0                          0.0
12460                 0                          0.0
13871                 0                          0.0
14107                 0                          0.0
14302                 0                          0.0
14304                 0                          0.0
14391                 0                          0.0
14434                 0                          0.0
14515                 0                          0.0
14716                 0                          0.0
15100                 0                          0.0
15343                 0                          0.0
15389                 0                          0.0
16134                 0                          0.0
16472                 0                          0.0

       Total Regents - % of grads Advanced Regents - n  \
343                           NaN                    0
735                           NaN                    0
1030                          NaN                    0
1439                          NaN                    0
1593                          NaN                    0
1690                          NaN                    0
1736                          NaN                    0
12262                         NaN                    0
12460                         NaN                    0
13871                         NaN                    0
14107                         NaN                    0
14302                         NaN                    0
14304                         NaN                    0
14391                         NaN                    0
14434                         NaN                    0
14515                         NaN                    0
14716                         NaN                    0
15100                         NaN                    0
15343                         NaN                    0
15389                         NaN                    0
16134                         NaN                    0
16472                         NaN                    0

       Advanced Regents - % of cohort  Advanced Regents - % of grads  \
343                               0.0                            NaN
735                               0.0                            NaN
1030                              0.0                            NaN
1439                              0.0                            NaN
1593                              0.0                            NaN
1690                              0.0                            NaN
1736                              0.0                            NaN
12262                             0.0                            NaN
12460                             0.0                            NaN
13871                             0.0                            NaN
14107                             0.0                            NaN
14302                             0.0                            NaN
14304                             0.0                            NaN
14391                             0.0                            NaN
14434                             0.0                            NaN
14515                             0.0                            NaN
14716                             0.0                            NaN
15100                             0.0                            NaN
15343                             0.0                            NaN
15389                             0.0                            NaN
16134                             0.0                            NaN
16472                             0.0                            NaN

      Regents w/o Advanced - n  Regents w/o Advanced - % of cohort  \
343                          0                                 0.0
735                          0                                 0.0
1030                         0                                 0.0
1439                         0                                 0.0
1593                         0                                 0.0
1690                         0                                 0.0
1736                         0                                 0.0
12262                        0                                 0.0
12460                        0                                 0.0
13871                        0                                 0.0
14107                        0                                 0.0
14302                        0                                 0.0
14304                        0                                 0.0
14391                        0                                 0.0
14434                        0                                 0.0
14515                        0                                 0.0
14716                        0                                 0.0
15100                        0                                 0.0
15343                        0                                 0.0
15389                        0                                 0.0
16134                        0                                 0.0
16472                        0                                 0.0

       Regents w/o Advanced - % of grads Local - n  Local - % of cohort  \
343                                  NaN         0                  0.0
735                                  NaN         0                  0.0
1030                                 NaN         0                  0.0
1439                                 NaN         0                  0.0
1593                                 NaN         0                  0.0
1690                                 NaN         0                  0.0
1736                                 NaN         0                  0.0
12262                                NaN         0                  0.0
12460                                NaN         0                  0.0
13871                                NaN         0                  0.0
14107                                NaN         0                  0.0
14302                                NaN         0                  0.0
14304                                NaN         0                  0.0
14391                                NaN         0                  0.0
14434                                NaN         0                  0.0
14515                                NaN         0                  0.0
14716                                NaN         0                  0.0
15100                                NaN         0                  0.0
15343                                NaN         0                  0.0
15389                                NaN         0                  0.0
16134                                NaN         0                  0.0
16472                                NaN         0                  0.0

       Local - % of grads Still Enrolled - n  Still Enrolled - % of cohort  \
343                   NaN                 11                          16.7
735                   NaN                 51                          98.1
1030                  NaN                 33                          76.7
1439                  NaN                 48                          96.0
1593                  NaN                 21                         100.0
1690                  NaN                 63                          85.1
1736                  NaN                 63                          98.4
12262                 NaN                4.0                          14.8
12460                 NaN                1.0                           3.4
13871                 NaN               24.0                         100.0
14107                 NaN                0.0                           0.0
14302                 NaN               23.0                          85.2
14304                 NaN               36.0                          78.3
14391                 NaN               16.0                          76.2
14434                 NaN               30.0                          96.8
14515                 NaN               25.0                          78.1
14716                 NaN               15.0                          65.2
15100                 NaN               37.0                          97.4
15343                 NaN               55.0                          88.7
15389                 NaN               52.0                          98.1
16134                 NaN               55.0                          84.6
16472                 NaN                5.0                          17.2

      Dropped Out - n  Dropped Out - % of cohort
343                49                       74.2
735                 0                        0.0
1030               10                       23.3
1439                2                        4.0
1593                0                        0.0
1690                6                        8.1
1736                1                        1.6
12262            21.0                       77.8
12460             0.0                        0.0
13871             0.0                        0.0
14107             1.0                        3.8
14302             4.0                       14.8
14304            10.0                       21.7
14391             5.0                       23.8
14434             0.0                        0.0
14515             6.0                       18.8
14716             8.0                       34.8
15100             1.0                        2.6
15343             3.0                        4.8
15389             1.0                        1.9
16134            10.0                       15.4
16472            20.0                       69.0

In [218]:
null_regents.shape

(22, 23)

In [219]:
interesting_demos = interesting_demos[~interesting_demos['Total Regents - % of grads'].isin(null_regents)]
interesting_demos.shape

(6670, 23)

**Why is this returning zero rows?**

In [220]:
type(interesting_demos['Total Regents - % of grads'].isnull())

pandas.core.series.Series

In [221]:
interesting_demos = interesting_demos[interesting_demos['Total Regents - % of grads'].notnull()]
interesting_demos.shape

(6648, 23)

Since the same school appears multiple times, I need to combine data. What is the best way to view the data? In the end, I want statistics based on demographics, so I should calculate statistics given a particular race/ethnicity. I'll focus on four columns:

In [222]:
cols = ['Demographic', 'Total Cohort', 'Total Grads - n', 'Total Regents - n', 'Advanced Regents - n']
interesting_demos = interesting_demos[cols]
interesting_demos.head()

,Demographic,Total Cohort,Total Grads - n,Total Regents - n,Advanced Regents - n
1,Total Cohort,55,37,17,0
2,Total Cohort,64,43,27,0
3,Total Cohort,78,43,36,0
4,Total Cohort,78,44,37,0
5,Total Cohort,64,46,32,7

In [223]:
interesting_demos_stats = interesting_demos.describe(include='all')
print(interesting_demos_stats)

         Demographic  Total Cohort Total Grads - n Total Regents - n  \
count           6648   6648.000000            6648              6648
unique             5           NaN             531               454
top     Total Cohort           NaN              21                 0
freq            2183           NaN             113               216
mean             NaN    142.399218             NaN               NaN
std              NaN    176.589237             NaN               NaN
min              NaN     21.000000             NaN               NaN
25%              NaN     45.000000             NaN               NaN
50%              NaN     80.000000             NaN               NaN
75%              NaN    152.000000             NaN               NaN
max              NaN   1209.000000             NaN               NaN

       Advanced Regents - n
count                  6648
unique                  298
top                       0
freq                   2101
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

Why am I getting `NaN` values? I thought I removed all null values...

In [224]:
interesting_demos['Total Grads - n'].isnull().sum()

0

In [225]:
interesting_demos['Total Grads - n'].mean()

inf

I think I am getting `NaN` values above in the `describe()` output because the values are too large. I hope that by grouping by demographics, I will obtain more usable information:

In [226]:
int_dem_grpby = interesting_demos.groupby('Demographic')
type(int_dem_grpby)

pandas.core.groupby.generic.DataFrameGroupBy

In [227]:
int_dem_grpby['Total Cohort'].describe()

,count,mean,std,min,25%,50%,75%,max
Demographic,,,,,,,,
Asian,512.0,130.064453,126.478039,21.0,39.0,71.0,186.25,627.0
Black,1734.0,91.262976,92.879909,21.0,34.0,59.0,107.00,921.0
Hispanic,1710.0,100.409357,105.083626,21.0,40.0,59.5,116.00,703.0
Total Cohort,2183.0,222.978012,247.525307,21.0,80.0,108.0,253.50,1209.0
White,509.0,124.491159,137.679040,21.0,35.0,60.0,183.00,870.0

In [228]:
int_dem_grpby.aggregate(['mean', 'std', 'median'])

             Total Cohort
                     mean         std median
Demographic
Asian          130.064453  126.478039   71.0
Black           91.262976   92.879909   59.0
Hispanic       100.409357  105.083626   59.5
Total Cohort   222.978012  247.525307  108.0
White          124.491159  137.679040   60.0

**Why is the `aggregate` method not aggregating over all columns?**

In [229]:
int_dem_grpby['Total Grads - n'].describe()

             count unique top freq
Demographic
Asian          512    206  23   14
Black         1734    221  15   53
Hispanic      1710    210  30   41
Total Cohort  2183    471  55   33
White          509    199  21   16

**Why is this giving an output with different summary statistics than `int_dem_grpby['Total Cohort'].describe()`?**

In [230]:
type(int_dem_grpby['Total Grads - n'])

pandas.core.groupby.generic.SeriesGroupBy

In [231]:
type(int_dem_grpby['Total Cohort'])

pandas.core.groupby.generic.SeriesGroupBy

I keep getting an error `DataError: No numeric types to aggregate`, so I'm wondering if the data in my Series is not the correct type:

In [234]:
interesting_demos['Total Grads - n'].value_counts().head()

21    113
19    112
25    110
28    103
23    100
Name: Total Grads - n, dtype: int64

The dtype seems correct...